<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Hot Restaurant</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hot Restaurant</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

        <a href="/tables"><button type="button" class="btn btn-primary btn-lg">View Tables</button></a>
        <a href="/"><button type="button" class="btn btn-secondary btn-lg">Go Home</button></a>
      </div>

      <form>
        <div class="form-group">
          <label for="reserveName">Name</label>
          <input class="form-control" id="reserveName" placeholder="Enter Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Phone Number</label>
          <input type="number" class="form-control" id="reservePhone" placeholder="555-555-5555">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="reserveEmail" placeholder="joe@example.com">
        </div>

        <button type="submit" class="btn btn-primary" id="reserve">Submit</button>
        </div>
      </form>

    </div>

    <footer class="footer">
        <div class="container">
            <p><a href="/api/tables">API Table Link</a> | <a href="/api/waitlist">API Wait List</a>
        </div>
    </footer>
</body>

<script>
$("#reserve").on("click", function(event) {
      event.preventDefault();
      var newReserve = {
        customerName: $('#reserveName').val,
        phoneNumber: $('#reservePhone').val,
        customerEmail: $('#reserveEmail').val,
      };

      // Question: What does this code do??
      $.post("/api/reserve", newReserve)
        .then(function(data) {
        console.log(data);
        });
    });
</script>

</html>